services:
  - type: web
    name: ecommerce-backend
    env: python
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python backend/manage.py collectstatic --noinput
    startCommand: gunicorn backend.wsgi:application
