@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";
/* @custom-variant dark (&:where(.dark, .dark *)); */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-muted: var(--muted);
}
:root {
  --background: #fff;
  --border: #1d1b1b;
  --text: #000;
  --muted: #7b7b7b;
}
.dark {
  --background: #252424;
  --border: rgb(253, 253, 253);
  --text: #fff;
  --muted: #7b7b7b;
}
